[Unit]
Description=proxmox-notify agent
After=pve-cluster.service
Requires=pve-cluster.service

[Service]
Type=simple
ExecStart=/usr/local/bin/proxmox-notify agent
Restart=on-failure
RestartSec=5s

RuntimeDirectory=proxmox-notify
NoNewPrivileges=true
PrivateTmp=true
LockPersonality=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
RestrictRealtime=true
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
